.discover{
    padding: .5rem 1rem;
    transition: all .10s ease-in;
    z-Index: 222222222;
}

.discover:hover{
    background-color: var(--icons-color);
    color: var(--shadow-dark-color);
    border-radius: .2rem;
}