
.audiolive{
    width: 100%;
}

.audiolive_box{
    width: 80%;
    margin: 0 auto;
    padding-block: 2rem 8rem;
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 2rem;
}

.audiolive_box_right{
    padding: .5rem 0 0 0;
    display:grid;
    gap: 2rem;
}

.audiolive_box_left{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

@media screen and (min-device-width:320px) and (max-device-width:375px) {
    .audiolive_box{
        width: 90%;
        grid-template-columns: 1fr;
    }

    .audiolive_box_right{
        gap: 2rem;
    }

    .audiolive_box_left{
        grid-template-columns: 1fr;
        gap: 3.5rem;
    }
}